.about {
    width: 100%;
    padding: 50px 10%;
    position: relative;
    top: 10vh;
}

.aboutCont {
    width: 100%;
}

.aboutCont>h5 {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.aboutCont>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.aboutCont>div>.left {
    width: 47.5%;
}

.aboutCont>div>.left>h5 {
    font-size: 30px;
    color: rgb(41, 41, 41);
    margin-bottom: 25px;
    font-weight: 600;

}

.aboutCont>div>.left>div {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    gap: 10px;
}

.aboutCont>div>.left>div>div {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    text-align: center;
    border-radius: 5px;
}

.aboutCont>div>.left>div>.security {
    background-color: rgb(200, 255, 200);
}

.aboutCont>div>.left>div>.technology {
    background-color: rgb(255, 182, 182);
}

.aboutCont>div>.left>div>.experience {
    background-color: rgb(182, 255, 249);
}

.aboutCont>div>.left>div>.speed {
    background-color: rgb(255, 244, 182);
}

.aboutCont>div>.left>div>.teamWork {
    background-color: rgb(255, 182, 239);
}

.aboutCont>div>.left>div>.ui {
    background-color: rgb(187, 182, 255);
}

.aboutCont>div>.left>div>div>img {
    width: 50%;
    margin-bottom: 30px;
    cursor: pointer;
}

.aboutCont>div>.left>div>div>span {
    font-size: 16px;
    font-weight: 500;
}

.aboutCont>div>.right {
    width: 49.5%;
}

.aboutCont>div>.right>h2 {
    font-size: 42px;
    color: green;
    margin-bottom: 15px;
    font-weight: 900;
    text-transform: uppercase;
}

.aboutCont>div>.right>p {
    font-weight: 500;
    line-height: 25px;
}

.aboutCont>div>.right>.teamP {
    margin-bottom: 20px;
}

.aboutCont>div>.right>h4 {
    font-size: 20px;
}

.aboutCont>div>.right>div {
    display: flex;
    margin-top: 10px;
}

.aboutCont>div>.right>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}

.aboutCont>div>.right>div>div>img {
    width: 50%;
    margin-right: 10px;
}

.aboutCont>div>.right>div>div>h5 {
    color: green;
}