.hero {
    width: 100%;
    padding: 50px 10%;
    position: relative;
    top: 10vh;
    height: 80vh;
    /* background-image: url("../../assets/images/background.jpg"); */
}

.heroCont {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.heroCont>.heroLeft {
    width: 40%;
}

.heroCont>.heroLeft>h4 {
    font-size: 15px;
    font-weight: 500;
    color: rgb(65, 65, 65);
    margin-bottom: 15px;
}

.heroCont>.heroLeft>h1 {
    font-size: 35px;
    color: rgb(0, 50, 143);
    margin-bottom: 15px;
}

.heroCont>.heroLeft>button {
    padding: 20px 20px;
    border: none;
    color: white;
    background-color: rgb(41, 143, 0);
    cursor: pointer;
    margin-top: 20px;
}

.heroCont>.heroRight {
    width: 60%;


}