.hero {
    width: 100%;
    padding: 0px 10%;
    position: relative;
    top: 7vh;
    height: 80vh;
    background-image: url("../../assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.heroCont {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.heroCont>.heroLeft {
    width: 65%;
}

.heroCont>.heroLeft>h1 {
    font-size: 34px;
    color: rgb(0, 50, 143);
    margin-bottom: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.heroCont>.heroLeft>p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.heroCont>.heroLeft>h3 {
    font-size: 20px;
    color: rgb(255, 0, 0);
    margin-bottom: 15px;
    text-transform: capitalize;
}

.heroCont>.heroLeft>button {
    padding: 20px 20px;
    border: none;
    color: white;
    background-color: rgb(41, 143, 0);
    cursor: pointer;
    margin-top: 20px;
    width: 40%;
}

.heroCont>.heroRight {
    height: 100%;
    width: 40%;
    position: relative;
}