.portfolio {
    width: 100%;
    padding: 50px 10%;
    position: relative;
    top: 10vh;
}

.portfolioCont {
    width: 100%;
}

.portfolioCont>h5 {
    font-size: 25px;
    color: rgb(61, 61, 61);
    text-align: center;
    margin-bottom: 15px;
}

.portfolioCont>p {
    margin-bottom: 25px;
    text-align: center;
    line-height: 22px;
}

.portfolioCont>.portfolios {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.portfolioCont>.portfolios>.left {
    width: 65%;
}

.portfolioCont>.portfolios>.left>a>img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0.5px 0.5px 5px 2px rgba(0, 0, 0, 0.3);
}

.portfolioCont>.portfolios>.left>a>img:hover {
    box-shadow: 0.5px 0.5px 10px 5px rgba(0, 0, 0, 0.3);
    scale: 1.02;
}

.portfolioCont>.portfolios>.left>h5 {
    font-size: 18px;
}

.portfolioCont>.portfolios>.right {
    width: 31%;
    display: flex;
    flex-direction: column;

}

.portfolioCont>.portfolios>.right>.top {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.portfolioCont>.portfolios>.right>.top>a>img {
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0.5px 0.5px 5px 2px rgba(0, 0, 0, 0.3);
}

.portfolioCont>.portfolios>.right>.top>h5 {
    font-size: 13px;
    color: rgb(51, 51, 51);
}

.portfolioCont>.portfolios>.right>.bottom {
    width: 100%;
    cursor: pointer;
}

.portfolioCont>.portfolios>.right>.bottom>a>img {
    width: 100%;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0.5px 0.5px 5px 2px rgba(0, 0, 0, 0.3);
}

.portfolioCont>.portfolios>.right>.bottom>a>img:hover,
.portfolioCont>.portfolios>.right>.top>a>img:hover {
    box-shadow: 0.5px 0.5px 10px 5px rgba(0, 0, 0, 0.3);
    scale: 1.02;
}

.portfolioCont>.portfolios>.right>.bottom>h5 {
    font-size: 13px;
    color: rgb(54, 54, 54);
}